<ion-header>
  <ion-toolbar>
    <ion-title>Seleccione un tipo de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let tipoUsuario of _tiposUsuarios">
    <ion-item *ngIf="tipoUsuario._identificadorTipoUsuario==1" href="#" class="card-login">
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label>{{tipoUsuario._descripcionTipoUsuario}}</ion-label>
    </ion-item>
    <ion-item *ngIf="tipoUsuario._identificadorTipoUsuario==2" href="#"  class="card-login">
      <ion-icon name="cube" slot="start"></ion-icon>
      <ion-label>{{tipoUsuario._descripcionTipoUsuario}}</ion-label>
    </ion-item>
    <ion-item *ngIf="tipoUsuario._identificadorTipoUsuario==3" (click)="cargarModalIngresarCodigoEvento(tipoUsuario._idAsignarTipoUsuarioEncriptado);" class="card-login" >
      <ion-icon name="thumbs-up" slot="start"></ion-icon>
      <ion-label>{{tipoUsuario._descripcionTipoUsuario}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
