<ion-header>   
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button routerLink="/login" >
              <ion-icon slot="icon-only" color="danger" name="md-log-out"></ion-icon>
            </ion-button>
          </ion-buttons>
        <ion-title>
            Tipo de usuario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
      <div color="light" *ngFor="let tipoUsuario of _tiposUsuarios">
        <div *ngIf="tipoUsuario._identificadorTipoUsuario==1" class="item-contenido">
          <ion-label >  <ion-icon  name="person" slot="start" style="color: #38436D"></ion-icon>&nbsp;&nbsp;{{tipoUsuario._descripcionTipoUsuario}}</ion-label>
        </div>
        <div *ngIf="tipoUsuario._identificadorTipoUsuario==2" class="item-contenido">
          <ion-label >  <ion-icon  name="cube" slot="start" style="color: #38436D"></ion-icon>&nbsp;&nbsp;{{tipoUsuario._descripcionTipoUsuario}}</ion-label>
        </div>
        <div *ngIf="tipoUsuario._identificadorTipoUsuario==3" class="item-contenido" (click)="cargarPaginaIngresarCodigoEvento(tipoUsuario._idAsignarTipoUsuarioEncriptado);" >
          <ion-label >  <ion-icon  name="thumbs-up" slot="start" style="color: #38436D"></ion-icon>&nbsp;&nbsp;{{tipoUsuario._descripcionTipoUsuario}}</ion-label>
        </div>
      </div>
</ion-content>
