<ion-header>
</ion-header>

<ion-content padding>  
   
        <img class="logologin" alt="logo"src="../../assets/img/logo.png" > 

        
          <ion-chip *ngIf="!_validar" color="danger">
                <ion-icon name="close"></ion-icon><ion-label  color="danger" >{{_mensaje}}</ion-label>
          </ion-chip>

        <ion-item>
              <ion-label position="floating">Identificación</ion-label>
              <ion-input type="text" [(ngModel)]="objLogin.identificacion" [ngModelOptions]="{standalone: true}" required></ion-input>
        </ion-item>
        <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="text" [(ngModel)]="objLogin.contrasena" [ngModelOptions]="{standalone: true}" type="password" required></ion-input>
        </ion-item>

        <ion-button (click)="postLoginFormulario();"  expand="full" color="secondary"><b>Ingresar</b></ion-button>
              
        <ion-grid>
          <ion-row >
            <ion-col size="2">
            </ion-col>
            <ion-col>
                  <ion-label  >¿Eres nuevo?</ion-label>
            </ion-col>
            <ion-col>
                  <a type="button" routerLink="/register" fill="outline" size="small" >Regístrate</a>
            </ion-col>
              <ion-col size="2">
            </ion-col>
          </ion-row>
        </ion-grid>

        
</ion-content>