
.item-contenido
{
    background-color:#F4F4F4; 
    margin: 15px;
    width: 75%;
    height: 100px;
   padding: 40px;
   margin: auto;
   display: block;
   margin-top: 45px;
   border-radius: 15px;
   text-align: center;
}
.pdbasic{
    padding-top: 60px; padding-bottom: 60px; 
}