<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="options"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Información general
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card *ngIf="!_validar; else mostrarEvento">
        <ion-icon name="close"></ion-icon><ion-label >{{_mensaje}}</ion-label>
  </ion-card>
  
  <ng-template #mostrarEvento> 
    <ion-card *ngFor="let _evento of _objetoEvento">
      <ion-card-header>
        <ion-card-subtitle>ORGANIZADA POR: {{_evento._carreraOrganizadora}}</ion-card-subtitle>
        <ion-item>
            <ion-card-title> <ion-text style="color: #494B79">{{_evento._nombreEvento}}</ion-text>  </ion-card-title>
        </ion-item>
      </ion-card-header>  
      <ion-card-content>     
        <ion-text>
          <p>{{_evento._descripcionConfigurarEvento}}</p>
        </ion-text>
        <ion-chip *ngIf="!_evento._estadoEvento; else dejarVotar" color="danger">
          <ion-icon name="close-circle-outline"></ion-icon>
          <p>{{_evento._descripcionEstadoEvento}}</p>
        </ion-chip>
        <ng-template #dejarVotar>     
          <ion-chip color="success">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <p class="estado-evento">{{_evento._descripcionEstadoEvento}}</p>
          </ion-chip>   
          <ion-button (click)="cargarCategoriasPorEvento(_evento._idConfigurarEventoEncriptado);" expand="block" color="light" shape="round">
            <ion-icon slot="icon-only" slot="end" name="arrow-dropright-circle"></ion-icon>
            EVENTO
          </ion-button>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let _evento of _objetoEvento">
        <ion-card-header>
            <ion-card-subtitle>PONDERACIÓN DE VOTOS</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ion-item *ngFor="let _votante of _objetoConfigurarActorEvaluador" >
                  <ion-label class="votante ion-text-wrap">{{_votante._descripcionTipoActorEvaluador}}</ion-label>
                  <ion-badge style="background-color: black;color:white" slot="end">{{_votante._pesoConfigurarTipoActorEvaluador}}%</ion-badge>
              </ion-item>
          </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let _evento of _objetoEvento">
        <ion-card-header>
            <ion-card-subtitle>DATOS RELEVANTES</ion-card-subtitle>
          </ion-card-header>
        <ion-card-content>  
          <ion-chip color="success">       
            <ion-icon name="pin"></ion-icon> 
            <ion-label color="medium" >{{_evento._lugar}}</ion-label>    
          </ion-chip>
          <ion-chip color="success">
            <ion-icon name="person"></ion-icon>
            <ion-label color="medium">{{_evento._nombresOrganizador}}</ion-label>    
          </ion-chip>
          <ion-chip color="success">
              <ion-icon name="calendar"></ion-icon>
              <ion-label color="medium">{{_evento._fechaInicioMostrar}} - {{_evento._fechaFinMostrar}}</ion-label>    
          </ion-chip>
          <ion-chip color="success">
            <ion-icon name="time"></ion-icon>
            <ion-label color="medium">{{_evento._horaInicioMostrar}} - {{_evento._horaFinMostrar}}</ion-label>    
          </ion-chip>
        </ion-card-content>  
      </ion-card>
  </ng-template>
</ion-content>
